####################
# caches
####################
__pycache__

####################
# build artefacts
####################
dist/
bashi.egg-info

####################
# IDE files
####################
.vscode
