name: CodeCov
on: [push, pull_request]
jobs:
    code-coverage:
        runs-on: ubuntu-latest
        env:
            OS: ubuntu-latest
            PYTHON: '3.12'
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 2
            - name: Setup Python
              uses: actions/setup-python@v3
              with:
                python-version: 3.12
            - name: Install bashi
              run: |
                pip install .
            - name: Generate Report
              run: |
                pip install coverage
                coverage run
            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3
              env:
                CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
